html
{
    font-size: 14px;
    font-family: niramit;
    overflow-x: hidden;

}
body
{
    background-color: #FDF1DA;
    font-size: 20px;
}
/* SIDER */
.side-bar
{
    position: relative;
    display: flex;
}
aside
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #211544;
    position: fixed;
    text-align: center;
    width: 250px;
    height: 100vh;
    top: 0;
    left: 0;

}
aside .side-link
{
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin-left: 10px;
    transition: all 0.2s ease;
    font-size: 17px;
    align-items: center;
}

aside .material-symbols-outlined
{
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
}
aside .side-link:hover
{
    margin-left: 28px;
    color: #FDF1DA;
}
aside .side-link.active
{
    background-color: #FDF1DA;
    color: #211544;
    /* margin-left: 50px; */
    margin-left:  calc(2rem - 3px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

aside .side-link.active::before
{
    content: '';
    width: 8px;
    height: 20px;
    background-color: #211544;
    margin-left: 10px;
}

/* END SIDER */

/* HEADER */
.header
{
    position: relative;

    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}
.fixed-head 
{
    /* position: sticky; */
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    justify-content:space-between;
    background-color: #211544;
    width: 100vw;
    height: 100px;
    top: 0;
    
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}
.fixed-head .logo
{
    padding-left: 40px;
}
.fixed-head .user-btn
{
    display: flex;
    justify-content: center;
}
.fixed-head .user-box
{
    display: flex;
    background-color: #594E7C;
    align-items: center;
    align-self: center;
    width: auto;
    height: 40px;
    padding-right: 20px;
    margin-right: 50px;
    /* margin-top: 30px; */
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.2s ease;
    padding-left: 20px;
    cursor: pointer;
}
.fixed-head .ava-user
{
    border-radius: 50px;
    border:#62b668 solid 7px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    align-self: center;
    margin-right: -15px;
    z-index: 100;
}

.user-box:hover
{
    background-color: #62b668 ;
}
#logout:hover
{
    background-color: rgb(221, 95, 95) ;
}
/* END HEADER */
/* DASHBOARD CONTENT */
.content
{
    background-color: #FDF1DA;
    color: #211544;
    position: relative;
    /* border: #211544 solid; */
    top: 90px;
    left: 245px;
    height: auto;
    width: calc(100vw - 265px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.content-title
{
    height: fit-content;
    width: 98%;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 0;
    border-bottom: #211544 solid 4px;
    /* border: #211544 solid;  */
    text-align: center;
}
.content-title a
{
    /* border: #211544 solid; */
    text-decoration: none;
    color: #211544;
    justify-self: flex-start;
    transition: all 0.1s ease;
}
.title-line a:hover
{
    color: #B197FC;
}
.content-title .title-line
{
    display: flex;
    gap: 20px;
}
.title-post
{

    align-self: flex-start;
    padding-left: 2%;
}

.edit-btn {
    width: 20%;
    height: 10%;
    border-radius: 20px;
    font-size: 36px;
    font-weight: bold;
    font-family: niramit;
    color: #211544;
    background-color: #FDF1DA;
    border: #211544 solid 3px;
    box-shadow: #211544 0 6px;
    transition: all 0.2s ease;
    text-align: center;
    align-self: flex-end;
    margin-right: 2%;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #B4E37A;
    box-shadow: #211544 0 2px 0px 2px;
}
input, button
{
    font-family: niramit;
}
.add-title
{
    width: 80%;
    height: 100%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: #FDF1DA;
    border-radius: 20px;
    border: #211544 solid 3px;
}
.info-title
{
    text-align: left;
    background-color: #211544;
    color: white;
    padding-inline: 50px;
    width: fit-content;
    border-radius: 10px 10px 0 0;
}
.border-infomation{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: #211544 solid 3px; */
    padding: 30px;
    border-radius: 20px;
}
.infomation
{
    width: 85%;
    display: flex;
    flex-direction: column;

}
.info-content
{
    border: #211544 solid 5px;
    border-radius:  0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 50px;
}
.inner-info
{
    border: #211544 solid 2px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    padding-bottom: 50px;
}
.inner-info h1
{
    height: 100%;
    font-size: 20px;
    font-weight:800;
    text-align: left;
}
.inner-info p
{
    font-size: 16px;
    font-weight:500;
}
.info
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    /* background-color: #17793D; */
    border: #211544 solid 2px;
    border-radius: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 50px
}
.inner-info input
{
    width: 80%;
    height: 100%;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    background-color: #FDF1DA;
    border-radius: 20px;
    border: #211544 solid 2px;
    padding-left: 30px;
    color: #211544;
}
.inner-info textarea
{
    background-color: #FDF1DA;
    text-align: left;
    margin: 0;
    border-radius: 20px;
    border: #211544 solid 2px;
    resize: none;
    font-family: niramit;
    font-size: 16px;
    font-weight: 500;
}
.info-text
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 20px;
    /* border: #211544 solid; */
    gap: 10px;

}
.info-text input
{
    border: #211544 solid 2px;
    width: 100%;
    text-align: center;
    margin: 0;
    border-radius: 6px;
    padding: 0;
    font-family: niramit;
    font-size: 20px;
    font-weight:800;
}


.info-content img
{
    width: 100%;
    height: 30%;
    object-fit: cover;
    border-radius: 20px;
}

#add-info
{
    border: #211544 dashed 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40%;
}
#add-info:hover
{
    border: #17793D dashed 3px;
    color: #17793D;
}
.icon-add
{
    width: 60px;
    height: 60px;
    font-size: 60px;
    border: #211544 dashed 3px;
    border-radius: 50%;
    text-align: center;
    line-height: 0.8;
    cursor: pointer;
}

.save-discard-btn
{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 82px;
    padding-bottom: 50px;
    /* border: #211544 solid 3px;
    pad */
}
a{
    text-decoration: none;
    color: #211544;
}
button
{
    font-family: niramit; 

}
#save-btn, #discard-btn
{
    width: 25%;
    font-size: 32px;
    font-weight: bold;
    border: #211544 solid 3px;
    border-radius:  20px;
    box-shadow: #211544 0px 10px;
    transition: all 0.2s ease;
}
#save-btn{
    background-color: #B4E37A;

}
#save-btn:hover{
    background-color: #9ec66d;
    box-shadow: #211544 0px 3px 0px 3px;

}
#save-btn a:hover
{
    color: #211544;
}
.inner-info textarea
{
    text-align: left;
    font-size: 20px;
}
#save-btn, #discard-btn
{
    width: 25%;
    font-size: 32px;
    font-weight: bold;
    border: #211544 solid 3px;
    border-radius:  20px;
    box-shadow: #211544 0px 10px;
    transition: all 0.2s ease;
}
#save-btn{
    background-color: #B4E37A;

}
#save-btn:hover{
    background-color: #9ec66d;
    box-shadow: #211544 0px 3px 0px 3px;

}
#save-btn a:hover
{
    color: #211544;
}
#discard-btn{
    background-color: #EBD8B3;
}
#discard-btn:hover{
    background-color: #c9b998;
    box-shadow: #211544 0px 3px 0px 3px;
}
#discard-btn a:hover
{
    color: #211544;
}
*
{
    font-family: niramit;
}